/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

// ATHENS GRAY - Light shades
$AthensGray: #f1f1f3;
// POLO BLUE - Light accent
$PoloBlue: #8ab2d1;
// ROYAL BLUE - Main brand color
$RoyalBlue: #525ddc;
// WAIKAWA GRAY - Dark accent
$WaikawaGray: #53609c;
// MIRAGE - Dark shades
$Mirage: #1d253a;
// Success
$AquaForest: #4f967b;
// Warning
$RawSienna: #cc8543;
// Danger
$Pomegranate: #f44336;

// theme colors
$theme-colors: (
  primary: $RoyalBlue,
  success: $AquaForest,
  info: $Mirage,
  warning: $RawSienna,
  danger: $Pomegranate,
  light: $AthensGray,
  dark: $Mirage,
  light-accent: $PoloBlue,
  dark-accent: $WaikawaGray
);

$body-bg: theme-color("light");
$body-color: theme-color("dark");

// Links
//
// Style anchor elements.

$link-color: theme-color("primary");
$link-decoration: none;
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration: none;

// Fonts
$font-size-base: 1rem;
// $font-family-sans-serif:   'Montserrat', sans-serif;
// $headings-font-family:     'abril-display', serif;
$headings-font-weight: 600;
$headings-line-height: 1.2;
$headings-color: theme-color("dark-accent");

$h1-font-size: $font-size-base * 3;
$h2-font-size: $font-size-base * 2.5;
$h3-font-size: $font-size-base * 2;
$h4-font-size: $font-size-base * 1.75;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

// Paragraphs
$paragraph-margin-bottom: 1rem;

// Navs
// this might effect too much - not sure where else I would use it
$nav-tabs-border-width: 0;
$nav-tabs-link-active-color: theme-color("light");
$nav-tabs-link-active-bg: transparent;
